body{
    background-image: 
    -webkit-gradient(linear,
    left center,right center, from(blue), to(white));
    color: white;
    
}




.col{
    width: 400px;
    columns: 3;
    column-width: 30px;
    text-align: left;
}

.col h1{
    column-span: all;
    background-color: rgb(169, 3, 3);
    text-align: center;
    color: white;
}