.box1{
    width: 200px;
    height: 200px;
    background-color: darkcyan;
    margin-top: 300px;
    margin-left: 400px;
    padding: 20px;
    cursor: pointer;
    background-image: url(/frontend/Images/vincent.jpeg);
    background-repeat: none;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 3px 4px 2px black;
    
}

.h1{
    font-family: cursive;
}


.box1:hover{
width: 100px;
height: 100px;
transform: scale(3) rotate(45deg);
background-image: url(/assignments/Images/starry.png);
background-repeat: no-repeat;
background-size: cover;
color: white;
font-weight: bold;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
border-radius: 0px;
box-shadow: 3px 4px 2px wheat;

}

.box1:hover:after{
    content: 'Starry Night';
}

.box1::after{
    content: '';
}


.box2{
    width: 100px;
    height: 160px;
    background-color: rgb(120, 0, 139);
    margin-top: 200px;
    margin-left: 600px;
    padding: 20px;
    cursor: pointer; 
    transition: all 1s 3s ease-in;
    display: none;
}


.box2:hover{
    transform: rotate(180deg);
}


.box2:hover::after{
    content: 'Just Rotating';
    color: white;
}

.anim-text{
}

#spanId{
    width: 500px;
    color: rgb(252, 251, 251);
    text-align: justify;
    font-size: x-large;
    position: absolute;
    top:330px;
    left:850px;
    display: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0; /* Ensures the text is hidden initially */
    animation: fadeIn 2s ease-in-out forwards;
}

#spanId span{
    color: wheat;
}


@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  