
.box{
 background-color: grey;
 border: 1px solid;
 color: white;
 text-align: center;
 border-radius: 15px;
 width: 33%;
 margin-bottom: 20px;
 margin-left: 350px;
 box-shadow:  5px 5px  silver;
}

.box h1{
  color: wheat;
}